<div class="container">
  <fieldset>
    <legend>1- Définir Terrain</legend>
    <div class="row">
      <label class="col-sm-3" for="nbrColInput">Saisir le nombre de colonne :</label>
      <input type="number" step="1" min="0" max="100" (change)="onChange($event)" [(ngModel)]="nbrCol" id="nbrColInput" class="col-sm-1"
      />
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <label class="col-sm-3" for="nbrRowInput">Saisir le nombre de ligne :</label>
      <input type="number" step="1" min="0" max="100" (change)="onChange($event)" [(ngModel)]="nbrRow" id="nbrRowInput" class="col-sm-1"
      />
      <div class="col-sm-8"></div>
    </div>
  </fieldset>
  <br>
  <form #tondeuseForm="ngForm">
    <fieldset>
      <legend>2- Ajouter Tondeuse</legend>
      <div class="form-group">
        <label for="posXInput">Position X :</label>
        <input type="number" step="1" min="0" max="100" pattern="^[0-9][0-9]?$" class="form-control" id="posXInput" required [(ngModel)]="currentTondeuse.posX"
          name="posX" #posX="ngModel">
        <div [hidden]="posX.valid || posX.pristine" class="alert alert-danger">
          <strong>Error in Postion X</strong>
        </div>
      </div>
      <div class="form-group">
        <label for="posYInput">Position Y :</label>
        <input type="number" step="1" min="0" max="100" pattern="^[0-9][0-9]?$" class="form-control" id="posYInput" required [(ngModel)]="currentTondeuse.posY"
          name="posY" #posY="ngModel">
        <div [hidden]="posY.valid || posY.pristine" class="alert alert-danger">
          <strong>Error in Postion Y</strong>
        </div>
      </div>
      <div class="form-group">
        <label for="colorSelect">Couleur :</label>
        <select class="form-control" id="colorSelect" required [(ngModel)]="currentTondeuse.color" name="color" #color="ngModel">
          <option>red</option>
          <option>yellow</option>
          <option>blue</option>
          <option>pink</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success" (click)="ajouterTondeuse(); tondeuseForm.reset();" [disabled]="!tondeuseForm.form.valid">Ajouter</button>
    </fieldset>
  </form>
  <br>
  <form #directionForm="ngForm">
    <fieldset>
      <legend>3- Avancer Tondeuse</legend>
      <div class="row form-group">
        <label class="col-sm-3" for="tondeuseId">Saisir numéro tondeuse :</label>
        <div class="col-sm-2">
          <select class="form-control" id="tondeuseId" required [(ngModel)]="selectedId" name="tondeuseId" #tondeuseId="ngModel">
            <option *ngFor="let c of tondeusesArray" [ngValue]="c">{{c.id}}</option>
          </select>
          <div [hidden]=" tondeuseId.valid " class="alert alert-danger">
            <strong>You need to set a value</strong>
          </div>
        </div>
        <div class="col-sm-7"></div>
      </div>
      <br>
      <div class="row form-group">
        <div class="col-sm-4">
          <div class="col-sm-4">
            <button type="button" class="btn btn-lg btn-secondary btn-block" (click)="defineDirection('left')">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-lg btn-secondary btn-block" (click)="defineDirection('up')">
              <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>
          </div>
          <div class="col-sm-4">
            <button type="button" class="btn btn-lg btn-secondary btn-block" (click)="defineDirection('right')">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <span class="col-sm-8">{{ directions | commandLine}}</span>
      </div>
      <br>
      <div class="row form-group ">
        <button type="submit" class="btn btn-success btn-lg btn-block" (click)="executeCommand();directionForm.reset();" [disabled]="!directionForm.form.valid">
          Exécuter
        </button>
      </div>
    </fieldset>
  </form>
  <br>
  <div>
    <fieldset>
      <legend>4- Résultat</legend>
      <table class="table">
        <tbody>
          <tr *ngFor="let row of rowsArray">
            <td class="terrain" *ngFor="let col of colsArray">
              <div [style.display]="terrain[col][row] !== 0 ? 'block' : 'none'">
                <strong>{{terrain[col][row]}} - </strong>
                <i class="fa fa-tree tondeuse" [ngStyle]="{'color': colorMatrice[col][row]}"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <br>
  <div>
    <fieldset>
      <legend>5- Les tondeuses hors périmetres</legend>
      <ul>
        <li *ngFor="let item of tondeusesArray" [style.display]=" item.erreur ? 'block' : 'none'">Tondeuse N° {{item.id}} : {{item | json}}</li>
      </ul>
    </fieldset>
  </div>
</div>